.espacio {
    flex: 1 1 auto;
}

.card {
    text-align: center;
    margin-left: 50px;
}

.h1 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-left: 50px;
}

h3 {
    text-align: center;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 1rem 0;
    margin-left: 25px;
}
