<!-- ============================================================== -->
<!-- Stats box -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Tickets Emitidos</h6>
                        <h6 class="text-muted m-t-10 m-b-0" id="fecha1">{{date}}</h6>
                        <h2 class="m-t-0" *ngFor="let servgraf1 of servgraf1">{{ servgraf1.numeroturnos }}</h2>
                        <a routerLink="usuarios" class="card-link">Mas Info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0"> Tickets Atendidos </h6>
                        <h6 class="text-muted m-t-10 m-b-0" id="fecha1">{{date}}</h6>
                        <h2 class="m-t-0"> 0 </h2>
                        <a routerLink="atencion" class="card-link">Mas Info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0"> Tickets No Atendidos</h6>
                        <h6 class="text-muted m-t-10 m-b-0" id="fecha1">{{date}}</h6>
                        <h2 class="m-t-0"> 0 </h2>
                        <a routerLink="distestadoturnos" class="card-link">Mas Info <i class="fa fa-arrow-circle-right"></i></a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Promedio Atención</h6>
                        <h6 class="text-muted m-t-10 m-b-0" id="fecha1">{{date}}</h6>
                        <h2 class="m-t-0"> 0:00:00 </h2>
                        <a routerLink="usuarios" class="card-link">Mas Info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Sales overview chart -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Sales overview chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title m-b-5"><span class="lstick"></span> Servicios mas solicitados </h3>
                    </div>

                </div>
                <div id="sales-overview2" class="p-relative" style="height:360px;">
                    <div [hidden]="!chart">
                        <canvas id="canvas1">{{chart}}</canvas>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title m-b-5"><span class="lstick"></span> Promedio Evaluacion Agencia </h3>
                    </div>

                </div>
                <div id="ct-sales3-chart" class="p-relative" style="height:360px;">
                    <div [hidden]="!chart">
                        <canvas id="canvas2">{{chart}}</canvas>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
