<body>
    <form>
        <div id="login">
            <div>
                <img class="centerimage" src="../../assets/logotickets.png">
            </div>
            <!-- <h3 class="text-center text-white pt-5">FULLTIME TICKETS REPORTES</h3> -->
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-4">
                        <div id="login-box" class="col-md-12">
                            <form (ngSubmit)="login2(l,usua_login, usua_password)" #l="ngForm" id="login-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">INICIO SESION</h3>

                                <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <span *ngIf="l.submitted && l.controls['usua_login'].errors" class="text-danger animated fadeIn">El usuario es obligatorio</span>
                                    <input type="text" name="usua_login" id="usua_login" class="form-control" [(ngModel)]="usua_login" required>

                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="popover" title="Usuario" data-content="Introduzca el nombre de usuario">
                                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                      <path  d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <span *ngIf="l.submitted && l.controls['usua_password'].errors" class="text-danger animated fadeIn">La contraseña debe de ser más de 6 letras</span>
                                    <input type="password" name="usua_password" id="usua_password" class="form-control" [(ngModel)]="usua_password" required minlength="6">

                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="popover" title="Password" data-content="Introduzca el password, minimo 6 caracteres">
                                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                      <path  d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                </div>
                                <!-- <a class="btn btn-primary" type="submit">INGRESAR</a> -->
                                <!-- routerLink="/menu" -->

                                <div class="col text-center">
                                    <!-- <button class="login100-form-btn" type="submit">
                                      Ingresar
                                  </button> -->
                                    <button type="submit" class="btn btn-primary">Ingresar</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </form>

</body>

<p><a class="pop-me-over" data-toggle="popover" data-placement="top" data-content="This is some extra information." data-title="Information"><i class="icon-info-sign"></i></a>
</p>
<i class="pop-me-over icon-info-sign" data-toggle="popover" data-placement="top" data-content="This is some extra information." data-title="Information"></i>