<div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">REPORTES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <!-- espacio -->
            <div class="espacio"></div>
            <!--  -->
            <ul class="navbar-nav mr-auto mt-6 mt-lg-6">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/usuarios">Usuarios <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/evaluacion">Evaluacion <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/atencion">Atencion <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ocupacion">Ocupacion <span class="sr-only">(current)</span></a>
                </li>
                <!--        SATISFACICIONES MODULO
            <li class="nav-item active">
            <a class="nav-link" href="#">Satisfacciones <span class="sr-only">(current)</span></a>
        </li> -->
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/distestadoturnos">Distribucion y estado de turnos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ingresoclientes">Ingreso de Clientes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/atendidosmultiples">Atendidos multiples <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="navbar-brand" href="#">Cerrar Sesion</a>
                    <!--  <button class="btn btn-outline-danger" >Cerrar Sesion</button> -->
                    <!-- (click)="salir()" -->
                </li>


            </ul>

        </div>

    </nav>


</div>
<h5 class="card-header">DASHBOARD</h5>
<br><br>
<div style="text-align: center;">
    <button type="button" class="btn btn-primary" (click)="generarPDF()">PDF</button>
</div>
<br><br>
<!-- MODIFICACION DASHBOARD -->
<!-- PRIMERO CARDS -->

<div class="row" style="text-align: center;">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        <!-- total usuarios atendidos
                        <h3>TOTAL USUARIOS ATENDIDOS</h3>-->
                        <h3>TOTAL TICKETS EMITIDOS</h3>
                    </div>
                    <br>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <h4 style="text-align: center;" *ngFor="let servgraf1 of servgraf1 ">{{ servgraf1.totaltickets }}</h4>
                    </div>
                    <!-- icono -->


                </div>
            </div>

        </div>


    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        <!-- Tiempo promedio de atención por servicio -->
                        <h3>TOTAL USUARIOS ATENDIDOS</h3>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <h4 style="text-align: center;" *ngFor="let servgraf2 of servgraf2 ">{{ servgraf2.atendidos }}</h4>
                    </div>

                </div>
            </div>

        </div>


    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        <!-- Horas de mayor generación de turnos o tickets -->
                        <h3> TOTAL USUARIOS NO ATENDIDOS</h3>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align: center;">
                        <h4 *ngFor="let servgraf3 of servgraf3 ">{{ servgraf3.noatendidos }}</h4>
                    </div>

                </div>
            </div>

        </div>


    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        <!-- Evaluación General promedio de los servicios más atendidos -->
                        <h3>PROMEDIO ATENCION</h3>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align: center;">
                        <h4 *ngFor="let servgraf4 of servgraf4 ">{{ servgraf4.PromedioAtencion }}</h4>
                    </div>

                </div>
            </div>

        </div>


    </div>





</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Horas de mayor generación de turnos o tickets </h5>
                <p class="card-text">Gráfico eje x las horas y eje Y cantidad de personas o tickets generados</p>
                <div [hidden]="!chart">
                    <canvas id="canvas2">{{chart}}</canvas>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Evaluación General promedio de los servicios más atendidos</h5>
                <p class="card-text">Ej: Atención Medicina Nuclear: 50 personas Excelente – 10 Personas Muy bueno etc</p>
                <div [hidden]="!chart">
                    <canvas id="canvas4">{{chart}}</canvas>

                </div>

            </div>
        </div>
    </div>
</div>
<br><br><br>

<!-- MODIFICACION DASHBOARD -->


<div id="graficos">
    <h1 style="text-align: center;">GRAFICOS ESTADISTICOS</h1>
    <hr>
    <!-- cajas de los graficos pequeños-->
    <div class="row">

        <!-- <h1>COLUMNA 1</h1> <br><br> -->
        <div class="col" height="300vw" width="150vw">
            <h1 style="text-align: center;">TURNO POR FECHA</h1>

            <div style="text-align: center;">


                <input type="date" id="start" name="trip-start" max="2022-12-31">
                <button (click)="getfiltrofecha()">fecha</button>
                <br>
                <p>
                    Este grafico mostrara por fecha cuantos turnos han sido atendidos, por cada servicio
                </p>
            </div>

            <hr><br>
            <div [hidden]="!chart">
                <canvas id="canvas">{{chart}}</canvas>

            </div>

        </div>

        <div class="col">
            <h1 style="text-align: center;">ATENCION USUARIO</h1>

            <div style="text-align: center;">


                <input type="date" id="start1" name="trip-start" max="2022-12-31">


                <!-- <input type="month" /> -->

                <button (click)="getatencionusuario()">fecha</button>
            </div>
            <hr>
            <!--                             <h1>COLUMNA 2</h1> -->
            <div [hidden]="!chart">
                <canvas id="canvas2">{{chart}}</canvas>

            </div>

        </div>

    </div>
    <br><br>
    <div class="row" style="text-align: center;">

        <!-- <h1>COLUMNA 1</h1> <br><br> -->
        <div class="col">
            <h1 style="text-align: center;">PROMEDIOS DE ATENCION</h1>

            <div>


                <input type="date" id="start2" name="trip-start" max="2022-12-31">


                <!-- <input type="month" /> -->

                <button (click)="getpromediosatencion()">fecha</button>
            </div>
            <hr><br>
            <div [hidden]="!chart">
                <canvas id="canvas3">{{chart}}</canvas>

            </div>

        </div>


        <div class="col">
            <h1 style="text-align: center;">INGRESO DE CLIENTES</h1>

            <div>


                <input type="date" id="start3" name="trip-start" max="2022-12-31">


                <!-- <input type="month" /> -->

                <button (click)="getingresoclientes()">fecha</button>
            </div>

            <hr>
            <!--                             <h1>COLUMNA 2</h1> -->
            <div [hidden]="!chart">
                <canvas id="canvas4">{{chart}}</canvas>

            </div>

        </div>

    </div>
</div>