<div class="card">
    <h5 class="card-header">ATENCION</h5>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tiempocompleto-tab" data-toggle="tab" href="#tiempocompleto" role="tab" aria-controls="tiempocompleto" aria-selected="true">TIEMPO COMPLETO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="promatencion-tab" data-toggle="tab" href="#promatencion" role="tab" aria-controls="promatencion" aria-selected="false">PROMEDIOS DE ATENCION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="maxaten-tab" data-toggle="tab" href="#maxaten" role="tab" aria-controls="maxaten" aria-selected="false">MAXIMOS DE ATENCION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="atenservicio-tab" data-toggle="tab" href="#atenservicio" role="tab" aria-controls="atenservicio" aria-selected="false">ATENCION SERVICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="graficoservicio-tab" data-toggle="tab" href="#graficoservicio" role="tab" aria-controls="graficoservicio" aria-selected="false">GRAFICO SERVICIO</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tiempocompleto" role="tabpanel" aria-labelledby="tiempocompleto-tab">



                    <div>
                        <br>
                        <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel()">EXCEL</button>
                        <!-- <button type="button" class="btn btn-primary" (click)="generarPDF()">PDF</button> -->
                        <button type="button" class="btn btn-info" (click)="generarPdf('hola', 1)">PDF</button>
                        <br><br>
                    </div>

                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->

                    <br>
                    <div class="container" id="content" #content #TABLE #table>
                        <h1>TIEMPO COMPLETO</h1>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Tiempo Espera</th>
                                    <th scope="col">Tiempo Atencion</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio of servicio">
                                    <td>{{servicio.Usuario}}</td>
                                    <td>{{servicio.Servicio}}</td>
                                    <td>{{servicio.Fecha}}</td>
                                    <td>{{servicio.Tiempo_Espera}}</td>
                                    <td>{{servicio.Tiempo_Atencion}}</td>


                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="tab-pane fade" id="promatencion" role="tabpanel" aria-labelledby="promatencion-tab">


                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel1()">EXCEL</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="generarPDF1()">PDF</button> -->
                    <button type="button" class="btn btn-info" (click)="generarPdf1('hola', 1)">PDF</button>
                    <br><br>
                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->
                    <div class="container" id="content1" #content1 #TABLE1 #table1>
                        <h1>PROMEDIO ATENCION</h1>
                        <br>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Cod.</th>
                                    <th scope="col">Servicios</th>
                                    <th scope="col">T. Promedio de Espera </th>
                                    <th scope="col">T. Promedio de Atencion</th>



                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let serviciopa of serviciopa">
                                    <td>{{serviciopa.SERV_CODIGO}}</td>
                                    <td>{{serviciopa.SERV_NOMBRE}}</td>
                                    <td>{{serviciopa.PromedioEspera}}</td>
                                    <td>{{serviciopa.PromedioAtencion}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <h1>falta grafico</h1> -->
                </div>
                <div class="tab-pane fade" id="maxaten" role="tabpanel" aria-labelledby="maxaten-tab">
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel2()">EXCEL</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="generarPDF2()">PDF</button> -->
                    <button type="button" class="btn btn-info" (click)="generarPdf2('hola', 1)">PDF</button>
                    <br><br>

                    <br>
                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->
                    <div class="container" id="content2" #content2 #TABLE2 #table2>
                        <h1>MAXIMOS ATENCION</h1>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Cod.</th>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">T. Maximo de Atencion</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let serviciomax of serviciomax">
                                    <td>{{serviciomax.SERV_CODIGO}}</td>
                                    <td>{{serviciomax.SERV_NOMBRE}}</td>
                                    <td>{{serviciomax.Fecha}}</td>
                                    <td>{{serviciomax.Maximo}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <h1>falta grafico</h1> -->
                </div>
                <div class="tab-pane fade" id="atenservicio" role="tabpanel" aria-labelledby="atenservicio-tab">

                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel3()">EXCEL</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="generarPDF3()">PDF</button> -->
                    <button type="button" class="btn btn-info" (click)="generarPdf3('hola', 1)">PDF</button>
                    <br><br>
                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->

                    <br>
                    <div class="container" id="content3" #content3 #TABLE3 #table3>
                        <h1>ATENCION SERVICIO</h1>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Atendidos</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicioatser of servicioatser">
                                    <td>{{servicioatser.Nombre}}</td>
                                    <td>{{servicioatser.Servicio}}</td>
                                    <td>{{servicioatser.Atendidos}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="graficoservicio" role="tabpanel" aria-labelledby="graficoservicio-tab">

                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel4()">EXCEL</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="generarPDF4()">PDF</button> -->
                    <button type="button" class="btn btn-info" (click)="generarPdf4('hola', 1)">PDF</button>
                    <br><br>
                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->

                    <br>
                    <div class="container" id="content4" #content4 #TABLE4 #table4>
                        <h1>GRAFICO</h1>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Atendidos</th>
                                    <th scope="col">No Atendidos</th>
                                    <th scope="col">Total</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let serviciograf of serviciograf">
                                    <td>{{serviciograf.Servicio}}</td>
                                    <td>{{serviciograf.Atendidos}}</td>
                                    <td>{{serviciograf.No_Atendidos}}</td>
                                    <td>{{serviciograf.Total}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>
