<div class="card">
    <h5 class="card-header">EVALUACION</h5>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="servicio-tab" data-toggle="tab" href="#servicio" role="tab" aria-controls="servicio" aria-selected="true">Servicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tiempromat-tab" data-toggle="tab" href="#tiempromat" role="tab" aria-controls="tiempromat" aria-selected="false">Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="inoutsistema-tab" data-toggle="tab" href="#inoutsistema" role="tab" aria-controls="inoutsistema" aria-selected="false">Establecimiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="atencionusuario-tab" data-toggle="tab" href="#atencionusuario" role="tab" aria-controls="atencionusuario" aria-selected="false">Evaluacion por Grupos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="graficoeva-tab" data-toggle="tab" href="#graficoeva" role="tab" aria-controls="graficoeva" aria-selected="false">Graficos</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="servicio" role="tabpanel" aria-labelledby="servicio-tab">

                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel()">EXCEL</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="generarPDF()">PDF</button> -->
                    <button type="button" class="btn btn-info" (click)="generarPdf('hola', 1)">PDF</button>
                    <br><br>
                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->

                    <h1>SERVICIOS</h1>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">Usuario</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Excelente</th>
                                    <th scope="col" class="text-center">Muy Bueno</th>
                                    <th scope="col" class="text-center">Bueno</th>
                                    <th scope="col" class="text-center">Regular</th>
                                    <th scope="col" class="text-center">Malo</th>
                                    <th scope="col" class="text-center">Total</th>
                                    <th scope="col" class="text-center">Promedio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio of servicio">
                                    <td>{{servicio.usua_nombre}}</td>
                                    <td>{{servicio.fecha}}</td>
                                    <td>{{servicio.Excelente}}</td>
                                    <td>{{servicio.Muy_Bueno}}</td>
                                    <td>{{servicio.Bueno}}</td>
                                    <td>{{servicio.Regular}}</td>
                                    <td>{{servicio.Malo}}</td>
                                    <td>{{servicio.Total}}</td>
                                    <td>{{servicio.Promedio}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <h1>MAXIMOS Y MINIMOS</h1>
                    <br>
                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">Usuario</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Excelente</th>
                                    <th scope="col" class="text-center">Muy Bueno</th>
                                    <th scope="col" class="text-center">Bueno</th>
                                    <th scope="col" class="text-center">Regular</th>
                                    <th scope="col" class="text-center">Malo</th>
                                    <th scope="col" class="text-center">Total</th>
                                    <th scope="col" class="text-center">Max.</th>
                                    <th scope="col" class="text-center">Min.</th>
                                </tr>
                            </thead>
                            <tbody> class="text-center"
                                <tr *ngFor="let servicio1 of servicio1">
                                    <td>{{servicio1.usua_nombre}}</td>
                                    <td>{{servicio1.fecha}}</td>
                                    <td>{{servicio1.Excelente}}</td>
                                    <td>{{servicio1.Muy_Bueno}}</td>
                                    <td>{{servicio1.Bueno}}</td>
                                    <td>{{servicio1.Regular}}</td>
                                    <td>{{servicio1.Malo}}</td>
                                    <td>{{servicio1.Total}}</td>
                                    <td>{{servicio1.max}}</td>
                                    <td>{{servicio1.min}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="tiempromat" role="tabpanel" aria-labelledby="tiempromat-tab">
                    <span></span>

                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel1()">EXCEL</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="generarPDF1()">PDF</button> -->
                    <button type="button" class="btn btn-info" (click)="generarPdf1('hola', 1)">PDF</button>
                    <br><br>

                    <h1>EMPLEADO</h1>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">Usuario</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Excelente</th>
                                    <th scope="col" class="text-center">Muy Bueno</th>
                                    <th scope="col" class="text-center">Bueno</th>
                                    <th scope="col" class="text-center">Regular</th>
                                    <th scope="col" class="text-center">Malo</th>
                                    <th scope="col" class="text-center">Total</th>
                                    <th scope="col" class="text-center">Promedio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio of servicio">
                                    <td>{{servicio.usua_nombre}}</td>
                                    <td>{{servicio.fecha}}</td>
                                    <td>{{servicio.Excelente}}</td>
                                    <td>{{servicio.Muy_Bueno}}</td>
                                    <td>{{servicio.Bueno}}</td>
                                    <td>{{servicio.Regular}}</td>
                                    <td>{{servicio.Malo}}</td>
                                    <td>{{servicio.Total}}</td>
                                    <td>{{servicio.Promedio}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <br><br>
                        <h1>MAXIMOS Y MINIMOS EMPLEADO</h1>
                        <br>
                        <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">Usuario</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Excelente</th>
                                    <th scope="col" class="text-center">Muy Bueno</th>
                                    <th scope="col" class="text-center">Bueno</th>
                                    <th scope="col" class="text-center">Regular</th>
                                    <th scope="col" class="text-center">Malo</th>
                                    <th scope="col" class="text-center">Total</th>
                                    <th scope="col" class="text-center">Max.</th>
                                    <th scope="col" class="text-center">Min.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio1 of servicio1">
                                    <td>{{servicio1.usua_nombre}}</td>
                                    <td>{{servicio1.fecha}}</td>
                                    <td>{{servicio1.Excelente}}</td>
                                    <td>{{servicio1.Muy_Bueno}}</td>
                                    <td>{{servicio1.Bueno}}</td>
                                    <td>{{servicio1.Regular}}</td>
                                    <td>{{servicio1.Malo}}</td>
                                    <td>{{servicio1.Total}}</td>
                                    <td>{{servicio1.max}}</td>
                                    <td>{{servicio1.min}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="inoutsistema" role="tabpanel" aria-labelledby="inoutsistema-tab">
                    <br>

                    <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel2()">EXCEL</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="generarPDF2()">PDF</button> -->
                    <button type="button" class="btn btn-info" (click)="generarPdf2('hola', 1)">PDF</button>
                    <br><br>

                    <h1>ESTABLECIMIENTO</h1>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Excelente</th>
                                    <th scope="col" class="text-center">Muy Bueno</th>
                                    <th scope="col" class="text-center">Bueno</th>
                                    <th scope="col" class="text-center">Regular</th>
                                    <th scope="col" class="text-center">Malo</th>
                                    <th scope="col" class="text-center">Total</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio4 of servicio4">
                                    <td>{{servicio4.fecha}}</td>
                                    <td>{{servicio4.Excelente}}</td>
                                    <td>{{servicio4.Muy_Bueno}}</td>
                                    <td>{{servicio4.Bueno}}</td>
                                    <td>{{servicio4.Regular}}</td>
                                    <td>{{servicio4.Malo}}</td>
                                    <td>{{servicio4.Total}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="atencionusuario" role="tabpanel" aria-labelledby="atencionusuario-tab">
                    <span></span>
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel3()">EXCEL</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="generarPDF3()">PDF</button> -->
                    <button type="button" class="btn btn-info" (click)="generarPdf3('hola', 1)">PDF</button>
                    <br><br>

                    <h1>EVALUACION POR GRUPO</h1>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">Nombre</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Bueno</th>
                                    <th scope="col" class="text-center">Malo</th>
                                    <th scope="col" class="text-center">Total</th>
                                    <th scope="col" class="text-center">Promedio</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicioe of servicioe">
                                    <td>{{servicioe.usua_nombre}}</td>
                                    <td>{{servicioe.fecha}}</td>
                                    <td>{{servicioe.Bueno}}</td>
                                    <td>{{servicioe.Malo}}</td>
                                    <td>{{servicioe.Total}}</td>
                                    <td>{{servicioe.Promedio}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="graficoeva" role="tabpanel" aria-labelledby="graficoeva-tab">

                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel4()">EXCEL</button>
                    <button type="button" class="btn btn-info" (click)="generarPDF4()">PDF</button>
                    <br><br>
                    <div class="container" id="content4" #content4 #TABLE4 #table4>
                        <h1>GRAFICO EVALUACIONES</h1>
                        <br>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">Usuario</th>
                                    <th scope="col" class="text-center">Evaluacion</th>
                                    <th scope="col" class="text-center">Total</th>
                                    <th scope="col" class="text-center">Porcentajes</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio5 of servicio5">
                                    <td>{{servicio5.usuario}}</td>
                                    <td>{{servicio5.evaluacion}}</td>
                                    <td>{{servicio5.total}}</td>
                                    <td>{{servicio5.porcentaje}}</td>

                                </tr>

                            </tbody>
                        </table>
                        <div>
                            <button type="button" class="btn btn-info mx-2" (click)="cambiar('pie')">pastel</button>
                            <button type="button" class="btn btn-info" (click)="cambiar('bar')">barras</button>
                        </div>

                        <div [hidden]="!chart">
                            <canvas id="canvas">{{chart}}</canvas>

                        </div>
                    </div>

                </div>
            </div>



        </form>



    </div>
</div>
