<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- <div> -->
<aside class="left-sidebar ">
    <!--{{text}}
         Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><img src="./assets/images/users/user.jpg" alt="user" />
                        <span class="hide-menu"> Prueba </span></a>
                    <!-- {{  this.authenticationService.user.usua_login }} -->
                </li>

                <li class="nav-devider"></li>
                <li class="nav-small-cap">REPORTES </li>
                <li> <a class=" waves-effect waves-dark dropdown-item" href="/menu"><i class="mdi mdi-chart-areaspline"></i>Inicio</a>

                </li>
                <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="usuarios"><i class="mdi mdi-account"></i>Usuarios</a>

                </li>
                <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="evaluacion"><i class="mdi mdi-seal"></i>Evaluación</a>

                </li>
                <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="atencion"><i class="mdi mdi-run-fast"></i>Atención</a>

                </li>
                <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="ocupacion"><i class="mdi mdi-seat-recline-normal"></i>Ocupación</a>

                </li>
                <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="distestadoturnos"><i class="mdi mdi-bullseye"></i>Distribución y estado turnos</a>

                </li>
                <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="ingresoclientes"><i class="mdi mdi-stadium"></i>Ingreso Clientes</a>

                </li>
                <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="atendidosmultiples"><i class="mdi mdi-transit-transfer"></i>Atendidos Múltiples</a>

                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- </div> -->
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->