<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><img src="./assets/images/users/user.jpg" alt="user" /><span class="hide-menu">Postmaster </span></a>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">REPORTES </li>
                <li> <a class=" waves-effect waves-dark"><i class="mdi mdi-chart-areaspline"></i><span class="hide-menu">Dashboard</span></a>

                </li>
                <li> <a class=" waves-effect waves-dark" routerLink="usuarios"><i class="mdi mdi-account"></i><span class="hide-menu">Usuarios</span></a>

                </li>
                <li> <a class=" waves-effect waves-dark" routerLink="evaluacion"><i class="mdi mdi-seal"></i><span class="hide-menu">Evaluación</span></a>

                </li>
                <li> <a class=" waves-effect waves-dark" routerLink="atencion"><i class="mdi mdi-run-fast"></i><span class="hide-menu">Atención</span></a>

                </li>
                <li> <a class=" waves-effect waves-dark" routerLink="ocupacion"><i class="mdi mdi-seat-recline-normal"></i><span class="hide-menu">Ocupación</span></a>

                </li>
                <li> <a class=" waves-effect waves-dark" routerLink="distestadoturnos"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Distribución y estado turnos</span></a>

                </li>
                <li> <a class=" waves-effect waves-dark" routerLink="ingresoclientes"><i class="mdi mdi-stadium"></i><span class="hide-menu">Ingreso Clientes</span></a>

                </li>
                <li> <a class=" waves-effect waves-dark" routerLink="atendidosmultiples"><i class="mdi mdi-transit-transfer"></i><span class="hide-menu">Atendidos Múltiples</span></a>

                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
