<div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/menu">REPORTES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <!-- espacio -->
            <div class="espacio"></div>
            <!--  -->
            <ul class="navbar-nav mr-auto mt-6 mt-lg-6">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/usuarios">Usuarios <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/evaluacion">Evaluacion <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/atencion">Atencion <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ocupacion">Ocupacion <span class="sr-only">(current)</span></a>
                </li>
                <!--        SATISFACICIONES MODULO
          <li class="nav-item active">
          <a class="nav-link" href="#">Satisfacciones <span class="sr-only">(current)</span></a>
      </li> -->
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/distestadoturnos">Distribucion y estado de turnos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ingresoclientes">Ingreso de Clientes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/atendidosmultiples">Atendidos multiples <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="navbar-brand" href="#">Cerrar Sesion</a>
                    <!--  <button class="btn btn-outline-danger" >Cerrar Sesion</button> -->
                    <!-- (click)="salir()" -->
                </li>

            </ul>

        </div>

    </nav>


</div>


<div class="card">
    <h5 class="card-header">EVALUACION</h5>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="servicio-tab" data-toggle="tab" href="#servicio" role="tab" aria-controls="servicio" aria-selected="true">Servicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tiempromat-tab" data-toggle="tab" href="#tiempromat" role="tab" aria-controls="tiempromat" aria-selected="false">Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="inoutsistema-tab" data-toggle="tab" href="#inoutsistema" role="tab" aria-controls="inoutsistema" aria-selected="false">Establecimiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="atencionusuario-tab" data-toggle="tab" href="#atencionusuario" role="tab" aria-controls="atencionusuario" aria-selected="false">Evaluacion por Grupos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="graficoeva-tab" data-toggle="tab" href="#graficoeva" role="tab" aria-controls="graficoeva" aria-selected="false">Graficos</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="servicio" role="tabpanel" aria-labelledby="servicio-tab">

                    <br>
                    <button type="button" class="btn btn-primary mx-2" (click)="ExportTOExcel()">EXCEL</button>
                    <button type="button" class="btn btn-primary" (click)="generarPDF()">PDF</button>
                    <br><br>
                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->
                    <div class="container" id="content" #content1 #TABLE1 #table>
                        <h1>SERVICIOS</h1>
                        <br>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Excelente</th>
                                    <th scope="col">Muy Bueno</th>
                                    <th scope="col">Bueno</th>
                                    <th scope="col">Regular</th>
                                    <th scope="col">Malo</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Promedio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio of servicio">
                                    <td>{{servicio.usua_nombre}}</td>
                                    <td>{{servicio.eval_fecha}}</td>
                                    <td>{{servicio.Excelente}}</td>
                                    <td>{{servicio.Muy_Bueno}}</td>
                                    <td>{{servicio.Bueno}}</td>
                                    <td>{{servicio.Regular}}</td>
                                    <td>{{servicio.Malo}}</td>
                                    <td>{{servicio.Total}}</td>
                                    <td>{{servicio.Promedio}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <br><br>
                        <h1>MAXIMOS Y MINIMOS</h1>
                        <br>
                        <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Excelente</th>
                                    <th scope="col">Muy Bueno</th>
                                    <th scope="col">Bueno</th>
                                    <th scope="col">Regular</th>
                                    <th scope="col">Malo</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Max.</th>
                                    <th scope="col">Min.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio1 of servicio1">
                                    <td>{{servicio1.usua_nombre}}</td>
                                    <td>{{servicio1.eval_fecha}}</td>
                                    <td>{{servicio1.Excelente}}</td>
                                    <td>{{servicio1.Muy_Bueno}}</td>
                                    <td>{{servicio1.Bueno}}</td>
                                    <td>{{servicio1.Regular}}</td>
                                    <td>{{servicio1.Malo}}</td>
                                    <td>{{servicio1.Total}}</td>
                                    <td>{{servicio1.max}}</td>
                                    <td>{{servicio1.min}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="tiempromat" role="tabpanel" aria-labelledby="tiempromat-tab">
                    <span></span>

                    <br>
                    <button type="button" class="btn btn-primary mx-2" (click)="ExportTOExcel()">EXCEL</button>
                    <button type="button" class="btn btn-primary" (click)="generarPDF()">PDF</button>
                    <br><br>
                    <h1>EMPLEADO</h1>
                    <br>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Usuario</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Excelente</th>
                                <th scope="col">Muy Bueno</th>
                                <th scope="col">Bueno</th>
                                <th scope="col">Regular</th>
                                <th scope="col">Malo</th>
                                <th scope="col">Total</th>
                                <th scope="col">Promedio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let servicio of servicio">
                                <td>{{servicio.usua_nombre}}</td>
                                <td>{{servicio.eval_fecha}}</td>
                                <td>{{servicio.Excelente}}</td>
                                <td>{{servicio.Muy_Bueno}}</td>
                                <td>{{servicio.Bueno}}</td>
                                <td>{{servicio.Regular}}</td>
                                <td>{{servicio.Malo}}</td>
                                <td>{{servicio.Total}}</td>
                                <td>{{servicio.Promedio}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <h1>MAXIMOS Y MINIMOS EMPLEADO</h1>
                    <br>
                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Usuario</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Excelente</th>
                                <th scope="col">Muy Bueno</th>
                                <th scope="col">Bueno</th>
                                <th scope="col">Regular</th>
                                <th scope="col">Malo</th>
                                <th scope="col">Total</th>
                                <th scope="col">Max.</th>
                                <th scope="col">Min.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let servicio1 of servicio1">
                                <td>{{servicio1.usua_nombre}}</td>
                                <td>{{servicio1.eval_fecha}}</td>
                                <td>{{servicio1.Excelente}}</td>
                                <td>{{servicio1.Muy_Bueno}}</td>
                                <td>{{servicio1.Bueno}}</td>
                                <td>{{servicio1.Regular}}</td>
                                <td>{{servicio1.Malo}}</td>
                                <td>{{servicio1.Total}}</td>
                                <td>{{servicio1.max}}</td>
                                <td>{{servicio1.min}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="tab-pane fade" id="inoutsistema" role="tabpanel" aria-labelledby="inoutsistema-tab">
                    <br>

                    <button type="button" class="btn btn-primary mx-2" (click)="ExportTOExcel()">EXCEL</button>
                    <button type="button" class="btn btn-primary" (click)="generarPDF()">PDF</button>
                    <br><br>
                    <h1>ESTABLECIMIENTO</h1>
                    <br>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Excelente</th>
                                <th scope="col">Muy Bueno</th>
                                <th scope="col">Bueno</th>
                                <th scope="col">Regular</th>
                                <th scope="col">Malo</th>
                                <th scope="col">Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let servicio4 of servicio4">
                                <td>{{servicio4.eval_fecha}}</td>
                                <td>{{servicio4.Excelente}}</td>
                                <td>{{servicio4.Muy_Bueno}}</td>
                                <td>{{servicio4.Bueno}}</td>
                                <td>{{servicio4.Regular}}</td>
                                <td>{{servicio4.Malo}}</td>
                                <td>{{servicio4.Total}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="atencionusuario" role="tabpanel" aria-labelledby="atencionusuario-tab">
                    <span></span>
                    <br>
                    <button type="button" class="btn btn-primary mx-2" (click)="ExportTOExcel()">EXCEL</button>
                    <button type="button" class="btn btn-primary" (click)="generarPDF()">PDF</button>
                    <br><br>
                    <h1>EVALUACION POR GRUPO</h1>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Bueno</th>
                                <th scope="col">Malo</th>
                                <th scope="col">Total</th>
                                <th scope="col">Promedio</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let servicioe of servicioe">
                                <td>{{servicioe.usua_nombre}}</td>
                                <td>{{servicioe.eval_fecha}}</td>
                                <td>{{servicioe.Bueno}}</td>
                                <td>{{servicioe.Malo}}</td>
                                <td>{{servicioe.Total}}</td>
                                <td>{{servicioe.Promedio}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="graficoeva" role="tabpanel" aria-labelledby="graficoeva-tab">

                    <br>
                    <button type="button" class="btn btn-primary mx-2" (click)="ExportTOExcel()">EXCEL</button>
                    <button type="button" class="btn btn-primary" (click)="generarPDF()">PDF</button>
                    <br><br>
                    <h1>GRAFICO EVALUACIONES</h1>
                    <br>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Usuario</th>
                                <th scope="col">Evaluacion</th>
                                <th scope="col">Total</th>
                                <th scope="col">Porcentajes</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let servicio5 of servicio5">
                                <td>{{servicio5.usua_nombre}}</td>
                                <td>{{servicio5.Evaluacion}}</td>
                                <td>{{servicio5.cuenta}}</td>
                                <td>{{servicio5.porcentaje}}</td>

                            </tr>

                        </tbody>
                    </table>
                    <div>
                        <button type="button" class="btn btn-primary mx-2" (click)="cambiar('pie')">pastel</button>
                        <button type="button" class="btn btn-primary" (click)="cambiar('bar')">barras</button>
                    </div>

                    <div [hidden]="!chart">
                        <canvas id="canvas">{{chart}}</canvas>

                    </div>


                </div>
            </div>



        </form>



    </div>
</div>