<div class="card">
    <h5 class="card-header">OCUPACION</h5>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="ocservicios-tab" data-toggle="tab" href="#ocservicios" role="tab" aria-controls="ocservicios" aria-selected="true">OCUPACION POR SERVICIOS</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ocserviciosgraf-tab" data-toggle="tab" href="#ocserviciosgraf" role="tab" aria-controls="ocserviciosgraf" aria-selected="false">OCUPACION POR SERVICIOS(GRAFICO)</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="ocservicios" role="tabpanel" aria-labelledby="ocservicios-tab">

                    <br><br>
                    <button type="button" class="btn btn-info mx-2" (click)="ExportTOExcel()">EXCEL</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="generarPDF()">PDF</button> -->
                    <button type="button" class="btn btn-info" (click)="generarPdf('hola',1)">PDF</button>
                    <br><br>
                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->

                    <h1>OCUPACION SERVICIOS</h1>
                    <div class="table-responsive">
                        <table class="table table-striped" id="content" #content #TABLE #table>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">Cod.</th>
                                    <th scope="col" class="text-center">Servicio</th>
                                    <th scope="col" class="text-center">T. Turno</th>
                                    <th scope="col" class="text-center">Porcentaje Ocupacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let serviciooc of serviciooc">
                                    <td>{{serviciooc.SERV_CODIGO}}</td>
                                    <td>{{serviciooc.SERV_NOMBRE}}</td>
                                    <td>{{serviciooc.total}}</td>
                                    <td>{{serviciooc.PORCENTAJE}} %</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="tab-pane fade" id="ocserviciosgraf" role="tabpanel" aria-labelledby="ocserviciosgraf-tab">

                    <br><br>
                    <!-- <button type="button" class="btn btn-primary mx-2" (click)="ExportTOExcel1()">EXCEL</button> -->
                    <button type="button" class="btn btn-info" (click)="generarPDF1()">PDF</button>
                    <br>

                    <br><br>
                    <!-- <div [hidden]="!chart">
                        <canvas id="canvas">{{chart}}</canvas>

                    </div> -->
                    <div class="container" id="content1" #content1>
                        <h1>OCUPACION SERVICIOS GRAFICO</h1>
                        <br>
                        <div class="row">
                            <!-- <h1>COLUMNA 1</h1> <br><br> -->
                            <div class="col">
                                <div [hidden]="!chart">
                                    <canvas id="canvas">{{chart}}</canvas>

                                </div>

                            </div>

                            <div class="col">
                                <!--                             <h1>COLUMNA 2</h1> -->
                                <div [hidden]="!chart">
                                    <canvas id="canvas2">{{chart}}</canvas>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </form>


    </div>
</div>
