<div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/menu">REPORTES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <!-- espacio -->
            <div class="espacio"></div>
            <!--  -->
            <ul class="navbar-nav mr-auto mt-6 mt-lg-6">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/usuarios">Usuarios <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/evaluacion">Evaluacion <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/atencion">Atencion <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ocupacion">Ocupacion <span class="sr-only">(current)</span></a>
                </li>
                <!--        SATISFACICIONES MODULO
          <li class="nav-item active">
          <a class="nav-link" href="#">Satisfacciones <span class="sr-only">(current)</span></a>
      </li> -->
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/distestadoturnos">Distribucion y estado de turnos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ingresoclientes">Ingreso de Clientes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/atendidosmultiples">Atendidos multiples <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="navbar-brand" href="#">Cerrar Sesion</a>
                    <!--  <button class="btn btn-outline-danger" >Cerrar Sesion</button> -->
                    <!-- (click)="salir()" -->
                </li>


            </ul>

        </div>

    </nav>


</div>





<div class="card">
    <h5 class="card-header">USUARIOS</h5>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TURNO POR FECHA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tiempo promedio de atencion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Entradas y salidas al sistema</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="atencionusuario-tab" data-toggle="tab" href="#atencionusuario" role="tab" aria-controls="atencionusuario" aria-selected="false">Atencion al Usuario</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <!-- <h1>TURNO POR FECHA</h1> -->
                    <br>
                    <button type="button" class="btn btn-primary" (click)="ExportTOExcel1()">EXCEL</button>
                    <button type="button" class="btn btn-primary" (click)="generarPDF2()">PDF</button>
                    <br><br>

                    <input type="text" class="forms-control" placeholder="buscar.." [(ngModel)]="filterPost" name="filterPost">

                    <!-- The form -->
                    <!-- <form class="example" action="action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form> -->



                    <BR><br>
                    <!-- <label *ngFor="let servicio of servicio"> Reporte realizado por: {{servicio.Nombre}} </label> -->
                    <!--                     <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
                            </div>
                        </div>
                    </div> -->
                    <div class="container" id="content1" #content1 #TABLE1 #table>
                        <h1>TURNO POR FECHA</h1>
                        <hr>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Atendidos</th>
                                    <th scope="col">No Atendidos</th>
                                    <th scope="col">Total</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio1 of servicio1 ">
                                    <td>{{servicio1.Usuario}}</td>
                                    <td>{{servicio1.Servicio}}</td>
                                    <td>{{servicio1.Fecha}}</td>
                                    <td>{{servicio1.Atendidos}}</td>
                                    <td>{{servicio1.No_Atendidos}}</td>
                                    <td>{{servicio1.Total}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <span></span>
                    <button type="button" class="btn btn-primary" (click)="generarPDF2()">PDF</button>

                    <button type="button" class="btn btn-primary" (click)="ExportTOExcel2()">EXCEL</button>
                    <BR><br>
                    <div class="container" id="content1" #content2 #TABLE2 #table>
                        <h1>TIEMPO PROMEDIO ATENCION</h1>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Promedio</th>
                                    <th scope="col">Turnos</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio of servicio">
                                    <td>{{servicio.Nombre}}</td>
                                    <td>{{servicio.Servicio}}</td>
                                    <td>{{servicio.Promedio}}</td>
                                    <td>{{servicio.Turnos}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                    <span></span>
                    <h1>ENTRADAS Y SALIDAS</h1>
                    <button type="button" class="btn btn-primary" (click)="ExportTOExcel()">EXCEL</button>


                    <BR><br>

                    <div class="container" id="content" #content #TABLE #table>
                        <table id="table" class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Hora Registrada</th>
                                    <th scope="col">Razon</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio2 of servicio2">
                                    <td>{{servicio2.Usuario}}</td>
                                    <td>{{servicio2.fecha}}</td>
                                    <td>{{servicio2.Razon}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="atencionusuario" role="tabpanel" aria-labelledby="atencionusuario-tab">


                    <span></span>
                    <h1>ATENCION USUARIO</h1>
                    <button type="button" class="btn btn-primary" (click)="ExportTOExcel3()">EXCEL</button>
                    <BR><br>
                    <div class="container" id="content" #content3 #TABLE3 #table>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Atendidos</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicio3 of servicio3">
                                    <td>{{servicio3.Nombre}}</td>
                                    <td>{{servicio3.Servicio}}</td>
                                    <td>{{servicio3.Atendidos}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>